sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: CZRJ0f6CO+ORYP682nhvNtUbxDrlGiRDPOxg7gYEWl0PBCxUqOGThcms9WNYKK0iFDQEQfqiGEz0fHhWUq23tWlRf3fhtTnpgQDQAj3Tn7wRrPRAEvNWKTY+BUegxC50+mrPEhIO0DOvckid4VHHunx4lm54nn0tVUpVZCeuxITnlxZEPe63Ib9xI1yX3lRImvqKBK29tE5FS4nvVED7FXmpZ0N4pB7wyicxOZ8VaGocivzziwvp7XSHdVXlr1gKxaeslfrHKxWLbyGLL7clnRJjyUf7DrnrHZvubBniJl/Et8KkW06oKSKgPwnzr9XGoEoFzljDQeyVErlBunvRkctEZQ+oLEd+kMQF4/Yv4B7f5pow5xBRE/+E488nKu+wKDvGoMRNACU5aYMS6isG7OGH7sJ8o8NzhCbeH1D893TSTGV34hfAtpj5Z8o2+9lOHQttghSeMvo2AAyLFFsqJDI4ihGL69Xed4PnCzCwR4abEYqqnbqQ7OILFApZRAm6Q5YMFMLSW+J2uX7M/fVpN4zt/wEbuMe+fqH9Ld6GFTWBAo6jkED0pEAZXPprX76EuOfI3ocTq3fKpj73mWcxbzrQ6J12gQrT+Uu68SgRM9E5fOSSck6sxckbarg0/wj+5oZ5xZobl5+s5yJTuVGvhtor1BJQ42XtqtkEbY0LD/I=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Tom-Swift-and-His-Electric-Runabout--Or-The-Speediest-Car-on-the-Road_950
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy